<template>
  <header>
    <div class="logo"><a href="#">Photobank </a></div>
    <div class="nav-toggle" @click="toggleMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <transition name="slide">
      <nav v-if="menuIsVisible">
        <a href="#">News</a>
        <a href="#">Features</a>
        <a href="#">Top</a>
        <a href="#">About</a>
        <a href="#"><img src="@/assets/img/shop.svg" alt="shop"></a>
        <a href="#"><img src="@/assets/img/share.svg" alt=""></a>
      </nav>
    </transition>
  </header>
</template>
<script>
export default {
  name: 'Header',
  data () {
    return {
      menuIsVisible: false
    }
  },
  methods: {
    toggleMenu(){
      this.menuIsVisible =!this.menuIsVisible
    }
  },
  created(){
    const screenHeight = window.screen.height
    if(screenHeight > 600){
      this.menuIsVisible = true
    } else {
      this.menuIsVisible = false
    }
  }
}
</script>
<style lang="sass" scoped>
header
  display: flex
  height: 80px
  justify-content: space-between
  align-items: center
  padding: 0 35px
  position: relative

nav 
  display: flex
  align-items: center

  @media screen and (max-width:600px)   
    position: fixed
    left: 0
    top: 0
    flex-direction: column
    height: 100vh
    width: 150px
    background: #E5E5E5
    z-index: 2
    padding-top: 5vh

    a
      display: flex
      margin-bottom: 5vh

a
  font-size: 16px
  font-weight: 500
  color: #000
  text-decoration: none
  font-family: "Futura"
  padding: 0 15px

.logo
  a
    font-weight: 700
    font-size: 24px

.nav-toggle
  display: none
  flex-direction: column
  justify-content: space-between
  height: 20px
  width: 20px

  span
    background: #000
    height: 2px
    width: 100%
    border-radius: 1px

  @media screen and (max-width: 600px) 
    display: flex

.slide-enter-active, .slide-leave-active
  transition: left .5s

.slide-enter, .slide-leave-to 
  left: -150px

.slide-enter-to, .slide-leave
  left: 0
  
</style>
