<template>
  <div class="modal">
    <div class="modal-header">
      <div class="filters">
        <p class="filter-title">Filter by:</p>
        <span  v-for="(item, index) in filters" 
            :key="index" 
          @click="filterBy(`${item.type}`, index)"
          class="filter-item"
          :class="item.active ? 'active' : ''"
          >
          {{item.name}}
        </span>
      </div>
      <button class="modal-close" @click="closeModal"></button>
    </div>
    <div class="modal-content">      
      <template v-if="!filteredFavorites">
        <div class="items-list">
        <div class="item-block" v-for="(value,name) in filteredByName" :key="`${name}`">
          <p class="item-letter">{{name}}</p>
            <ul >
              <li v-for="(item, index) in value" :key="index" class="item" >
                <img :src="item.thumbnailUrl" :alt="`${item.title.slice(0, 10)}`">
                <span class="item-name">{{item.title.slice(0, 10)}}</span>
                <button @click="setStatus(name, index, item.active)" class="toogle-favorites">
                  <Star :active="item.active"/>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </template>
      <template v-else>
        <div class="items-list">
          <div class="item-block" v-for="(value,name) in filteredByName" :key="`${name}`">
            <div v-for="(item, index) in value" :key="index" class="item" @click="setStatus(name, index, item.active)">
              <img :src="item.thumbnailUrl" :alt="`${item.title.slice(0, 10)}`">
              <span class="item-name">{{item.title.slice(0, 10)}}</span>
              <star :active="item.active"></star>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
import Star from '@/components/ui/Star'

export default {
  name: 'Modal',
  components: {
    'Star' : Star
  },
  props: {
    images: {
      type: Object,
      required: true
    }
  },  
  computed: {
    defaultImages: function(){
      return this.images
    }
  },
  watch: {
    defaultImages: function(){
      this.filterByName()
    }
  },
  data () {
    return {
      filters: [
        {
          name: 'A-Z',
          type: 'name',
          active: true
        },
        {
          name: 'Favorites',
          type: 'favorite',
          active: false
        }
      ],
      filteredByName: {},
      filteredByFav: [],
      filteredFavorites: false
    }
  }, 
  methods: {
    filterBy (value, index) {
      this.filters[index].active = !this.filters[index].active

      if(value === 'name'){
        this.filters[1].active = false
        this.filterByName()

      } else if(value === 'favorite'){
        this.filters[0].active = false
        this.filterByFav()
      }
    },
    filterByName () {
      let tempObj = {}

      for ( let prop in this.defaultImages){
        tempObj[prop] = this.defaultImages[prop].sort( (a,b) => {
            return a.title - b.title
        })
      }

      this.filteredFavorites = false
      this.filteredByName = {...tempObj}  
    },
    filterByFav () {
      let tempObj = {}

      for ( let prop in this.defaultImages){
        tempObj[prop] = this.defaultImages[prop].filter( (item) => {
            return item.active
        })
      }

      this.filteredFavorites = true
      this.filteredByName = {...tempObj}  

    },
    setStatus(prop, ind, status){
      this.$set(this.defaultImages[prop][ind], 'active', !status)

      localStorage.setItem('favoritesList', JSON.stringify(this.defaultImages))
    },
    closeModal(){
      this.$emit('close')
    }
  },
  mounted () {
    this.filterByName()
  }

}
</script>
<style lang="sass" scoped>
.modal
  padding: 36px 61px
  max-width: 1297px
  width: 100%
  height: 660px
  border-radius: 12px
  background: #fff
  position: absolute
  left: 50%
  top: 40%
  transform: translate(-50%, 0)

  @media screen and (max-width: 1100px) 
    max-width: calc(100vw - 30px)

  @media screen and (max-width: 768px) 
    padding: 15px  

  &-content
    overflow-y: scroll
    height: 530px
    overflow-x: hidden
    padding-right: 25px

  &-header
    display: flex
    justify-content: space-between
    position: relative
    height: 28px

  &-close
    background: transparent
    border: none
    cursor: pointer
    background: url(~@/assets/img/close-btn.svg) 0 0 no-repeat
    width: 20px
    height: 20px
    position: absolute
    right: -33px
    top: -6px

    @media screen and (max-width: 768px) 
      right: 15px
      top: 10px

.item
  width: 100%
  height: 40px
  background: #F7F8F9
  border-radius: 8px
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 8px
  padding-left: 4px
  padding-right: 15px
  cursor: pointer

  &:hover
    box-shadow: 2px 2px 2px 0px rgba(0,0,0, .2)

  &-block
    display: flex
    flex-direction: column
    break-inside: avoid-column
    -webkit-column-break-inside: avoid

    & > ul
      padding-top: 10px
      padding-bottom: 28px
      break-inside: avoid-column
      -webkit-column-break-inside: avoid

  &-letter
    text-transform: uppercase
    font-weight: 700
    font-size: 12px
    color: #1C214C
    padding-left: 30px

  &-name
    font-weight: 700
    font-size: 12px
    color: #1C214C
    flex: 1
    padding-left: 10px
    font-weight: 700
    text-transform: capitalize

  &-fav
    color: #DEDEE5

    &.active
      color: #3E5EF2

  img
    width: 32px
    height: 32px
    border-radius: 8px

.items-list
  columns: 4
  column-gap: 44px

  @media screen and (max-width: 1100px) 
    columns: 3
    column-gap: 20px

  @media screen and (max-width: 900px) 
    columns: 2
    column-gap: 20px

  @media screen and (max-width: 768px) 
    columns: 2
    column-gap: 20px

  @media screen and (max-width: 600px) 
    columns: 1
    column-gap: 0
  


.filters
  margin-bottom: 6px
  display: flex
  align-items: center

  span
    font-size: 14px
    font-weight: 700
    color: #1C214C
    
    & + span
      border-left: 1px solid #DEDEE5
      
    &:not(.filter-title)
      padding: 0 8px

  span.active
    color: #3E5EF2

.filter
  &-item
    cursor: pointer
ul
  padding: 0
  margin: 0

.toogle-favorites,
.toogle-favorites:hover,
.toogle-favorites:focus
  background: transparent
  outline: none
  border: none
  display: flex
  align-items: center
  cursor: pointer
</style>
