<template>
  <div id="app">
    <div class="container">
      <Header />  
      <section class="main-section">
      </section> 
      <Modal v-if="modalIsVisible" :images="filteredImages" v-on:close="closeModal" />
    </div>
  </div>
</template>

<script>
import Modal from "./components/Modal.vue";
import Header from "./components/Header.vue";
import axios from "axios"

export default {
  name: "App",
  components: {
    Modal,
    Header,
  },
  data(){
    return {
      modalIsVisible: true,
      images: [],
      filteredImages: {},
    }
  },
  methods: {
    async fetch () {
      await axios.get('https://jsonplaceholder.typicode.com/photos')
        .then( res => this.images = [...res.data.slice(0, 100)])
        .then(() => {
          
          const testArr = {}
          this.images.forEach(item => {
            if(testArr[item['title'][0]]){
              if(Array.isArray(testArr[item['title'][0]])){
                testArr[item['title'][0]].push({...item, active: false})
              }
            } else {
              testArr[item['title'][0]] = []
            }
          })

          this.filteredImages = {...testArr}
        })
    },
    closeModal () {
      this.modalIsVisible = !this.modalIsVisible
    }
  },
  created () {  
    const localSt = JSON.parse(localStorage.getItem('favoritesList'))

    if (localSt) {
      this.filteredImages = {...localSt}
    } else {
      this.fetch()
    }
  },
};
</script>

<style lang="sass">
*
  box-sizing: border-box

#app 
  background: #E5E5E5

body
  margin: 0

.container
  width: 100%
  margin: 0 auto
  position: relative

@font-face 
  font-family: "Futura"
  src: url("~@/assets/fonts/futura_bold.ttf") format("ttf")
  font-weight: 700

@font-face 
  font-family: "Futura"
  src: url("~@/assets/fonts/futura_medium.ttf") format("ttf")
  font-weight: 500  

.main-section
  background: url("~@/assets/img/main-bg.jpg") 0 0 no-repeat
  background-size: cover
  min-height: 542px

</style>
